--
@{
    Layout = null;
}


<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link justify-content-center">
        
        <span class="brand-text font-weight-light">Sublime</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center">
           
            <div class="info">
                <a href="#" class="d-block">Admin</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Trang chủ
                           
                        </p>
                    </a>
                </li>
                <li class="nav-header">ĐƠN HÀNG</li>
                <li class="nav-item">
                    <a href="@Url.Action("invoicepending","admin")" class="nav-link">
                        <i class="nav-icon fas fa-file-invoice-dollar"></i>
                        <p>
                            Đơn hàng chờ duyệt
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("invoicepending","admin")" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Quản lý đơn hàng
                        </p>
                    </a>
                </li>
                <li class="nav-header">SẢN PHẨM</li>
                <li class="nav-item">
                    <a href="@Url.Action("AddProduct","Admin")" class="nav-link">
                        <i class=" nav-icon fas fa-mobile-alt"></i>
                        <p>
                            Thêm sản phẩm
                            
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("ProductList","Admin")" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Quản lý sản phẩm
                        </p>
                    </a>
                </li>
                <li class="nav-header">NHÂN VIÊN</li>
                <li class="nav-item">
                    <a href="pages/calendar.html" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>
                            Thêm nhân viên
                            
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="pages/gallery.html" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Quản lý nhân viên
                        </p>
                    </a>
                </li>
                



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>